<div class="col-lg-6">
  <div class="col-md-6 offset-md-3">
    <form (ngSubmit)="update()">
      <div class="form-group">
        <label for="userId" class="field">User Id:</label>
        <input type="text" class="form-control field-id1" placeholder="Enter userId" name="userId"
          defaultValue={{userData.userId}} disabled>
      </div>
      <div class="form-group">
        <label for="Username" class="field">Username:</label>
        <input type="text" class="form-control field-id" placeholder="Enter username" name="username"
          defaultValue={{userData.name}} [(ngModel)]="userData.name">
      </div>
      <div class="form-group">
        <label for="Email" class="field">Email:</label>
        <input type="email" class="form-control field-id1" placeholder="Enter email" name="email"
          defaultValue={{userData.email}} disabled>
      </div>
      <div class="form-group">
        <label for="password" class="field">Password:</label>
        <input type="text" class="form-control field-id" placeholder="Enter password" name="pswd"
          [(ngModel)]="userData.password" defaultValue={{userData.password}}>
      </div>
      <div class="form-group">
        <label for="Mobile" class="field">Mobile number:</label>
        <input type="text" class="form-control field-id" placeholder="Enter Mobile number" [(ngModel)]="userData.phone"
          name="Mobile" defaultValue={{userData.phone}}>
      </div>
      <button type="submit" class="btn btn-primary login">Update</button>
    </form>
  </div>
</div>