<br><br><br>
<div class="container" id="user">
  <br>
  <div class="Board">
    <p style="text-align:center"><b>&nbsp;{{userData.firstName}}</b></p><br>
    <p><b>Username:</b>&nbsp;{{userData.username}}</p> 
    <p><b>Email ID:</b>&nbsp;{{userData.email}}</p>
    <p><b>Organization:</b>&nbsp;{{userData.organization}}</p>
    <p><b>Mobile number:</b>&nbsp;{{userData.phone}}</p> <br>
    <button type="button" class="btn btn-info" id="editButton" routerLink = "/editUser"><b> Edit
        details</b></button>
  </div>
 
</div>
                     
                  

            
              

           