.profile-card-5 {
    margin-top: 20px;
  }

  .profile-card-5 .btn {
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 7px 20px;
  }

  .profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;

  }

  .profile-card-5 .card-img-block img {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  }

  .profile-card-5 h5 {
    color: #17a2b8;
    font-weight: 600;
  }

  .profile-card-5 p {
    font-size: 14px;
    font-weight: 300;
  }

  .profile-card-5 .btn-primary {
    background-color: #00ba9d;
    border-color: #00ba9d;
  }
  #button{
    background-color: #00ba9d;
  }

  .card-body{
   background-color: rgba(0,0,0,0.9);
   border : 1px solid #00ba9d;
  }
  
  .card-body b {
   color : #00ba9d !important;
   font-weight: 500;
   font-size : 110%;    
  }

  .card-body p {
    color : white !important;
    font-weight: 500;
    font-size: 105%;
  }