/* You can add global styles to this file, and also import other style files */
* {
    margin : 0px;
    padding : 0px;
    overflow-x: hidden;
}
body{
    background-image: url('./assets/images/background.jpg')
}