<div>
  <h1 class = "head">Aspire Info Labs</h1>
  </div>
  <hr/>
  <div>
  <a routerLink="/about">About</a> | <a routerLink="/register">Register</a> 
  </div>
  <div>
  <p>Date: {{date}}
  </div>
  <div>
  <!-- <p>There is a message from 'Susan' to 'Bob'. Message content is 'See you toworrow' </p> -->
  <app-show-message></app-show-message>
  </div>
