#user{
  background-color: rgba(0,0,0,0.9); 
  height:420px;
  padding: 30px;
  border-radius:30px
}
p{
  font-size: 150%;
  color:#00ba9d;
}
#editButton{
  color:white;
  background-color: #00ba9d;
}
