<div class="row">
  <div class="col-lg-6">
    <div class="Board">
      <h1 id="about">Student Services</h1>
      <p id="tag">We Provide a Educational services</p>
      <p><span class="checkmark">
          <i class="far fa-check-circle">&nbsp;</i>
        </span>we are specialised in computarised data maintaing.
      </p>
      <p><span class="checkmark">
          <i class="far fa-check-circle">&nbsp;</i>
        </span>we provide better analytic services.
      </p>
      <p><span class="checkmark">
          <i class="far fa-check-circle">&nbsp;</i>
        </span>Ask for our services.
      </p>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="col-md-6 offset-md-3" id="forms">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="field">Name: </label>
          <input type="text" formControlName="name" class="form-control field-id"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Name" />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">
              <p> Name is required</p>
            </div>
            <div *ngIf="f.name.errors.minlength">
              <p>Name must be at least 6 characters</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="field">Email: </label>
          <input type="email" formControlName="email" class="form-control field-id"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">
              <p> email is required</p>
            </div>
            <div *ngIf="f.email.errors.minlength">
              <p>Please enter a valid email address</p>
            </div>
            <p>{{errorEmail}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="field">password: </label>
          <input type="password" formControlName="password" class="form-control field-id"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="password" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">
              <p> password is rquired</p>
            </div>
            <div *ngIf="f.password.errors.minlength">
              <p>password must be at least 6 characters</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="field">Phone Number: </label>
          <input type="text" formControlName="phone" class="form-control field-id"
            [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" placeholder="phone number" />
          <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
            <div *ngIf="f.phone.errors.required">
              <p> please enter your phone number</p>
            </div>
            <div *ngIf="f.phone.errors.minlength">
              <p>PhoneNo must be 10 digits</p>
            </div>
          </div><br>
          <button class="login">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>