.menu {
    float: left;
    padding: 10px;
    width: 15%;
    height: 80%;
}
.body {
    float: left;
    padding: 10px;
    width: 80%;
    height: 80%;
    border-left:
    1px solid pink;
}
.footer {
    clear: both
}