<div *ngIf = "msgData">
<p>There is a message from <strong>{{msgData[0].from}}</strong> to <strong>{{msgData[0].to}}</strong>. Message content is <strong>{{msgData[0].message}}</strong> </p>
</div>
<!-- <p>There is a message from 'Susan' to 'Bob'. Message content is 'See you toworrow' </p> -->