<div class="col-lg-6">
    <div class="col-md-6 offset-md-3" >
        <form  (ngSubmit)="update()">
            <div class="form-group">
                <label for="userId" class = "field">First name:</label>
                <input type="text" class="form-control field-id" placeholder="Enter firstName" name="userId"  defaultValue = {{userData.firstName}} >
              </div>
              <div class="form-group">
                <label for="userId" class = "field">Last name:</label>
                <input type="text" class="form-control field-id" placeholder="Enter lastName" name="userId"  defaultValue = {{userData.lastName}} >
              </div>
            <div class="form-group">
              <label for="username" class = "field">Username:</label>
              <input type="text" class="form-control field-id" placeholder="Enter username" name="username" defaultValue = {{userData.username}} [(ngModel)]="userData.username">
            </div>
            <div class="form-group">
                <label for="Email" class = "field">Email:</label>
                <input type="email" class="form-control field-id1" placeholder="Enter email" name="email" defaultValue = {{userData.email}}   disabled>
              </div>
              <div class="form-group">
                <label for="organization" class = "field">Organization:</label>
                <input type="text" class="form-control field-id" placeholder="Enter organization" name="organization" defaultValue = {{userData.organization}}   disabled>
              </div>
            <div class="form-group">
              <label for="password" class = "field">Password:</label>
              <input type="text" class="form-control field-id" placeholder="Enter password" name="pswd"  [(ngModel)]="userData.password"  defaultValue = {{userData.password}}>
            </div>
            <div class="form-group">
              <label for="Mobile" class = "field">Mobile number:</label>
              <input type="text" class="form-control field-id" placeholder="Enter Mobile number"  [(ngModel)]="userData.phone"  name="Mobile" defaultValue = {{userData.phone}}>
            </div>
            <button type="submit" class="btn btn-primary login">Update</button>
          </form>

    </div>
  </div>
