<form  #form="ngForm" (ngSubmit)="sendMessage()">
  <table>
    <tr>
      <td>From</td>
      <td><input type="text" name="from" ngModel/></td>
    </tr>
    <tr>
      <td>To</td>
      <td><input type="text" name="to" ngModel /></td>
    </tr>
    <tr>
      <td>Message</td>
      <td><input type="text" name="message" ngModel /></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="2"><input type="submit" value="Send Message" /></td>
    </tr>
  </table>
</form>
