#forms {
    position: relative;
    max-width: 500px;
    margin: 0 5vw;
    padding: 3.5vw;
    border: none;
    box-sizing: border-box;
    display: flex;
    border-left: 4px solid #00ba9d;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    background-color:rgba(0,0,0,0.3);
    margin-top : -2%;
    margin-left : 20%;
}
.field {
    font-size: 16px;
    color: #00ba9d;
    float: left;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: capitalize;
    letter-spacing: 2px;
    /* font-family: 'Poiret One', cursive; */
}
.field-id {
    height: 40%;
    width: 100%;
    color: #aaa;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    letter-spacing: 3px;
    /* line-height: 25px; */
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border: 1px solid #aaa;
    -webkit-appearance: none;
    /* font-family: 'Poiret One', cursive; */
    background: transparent;
    border-radius: 25px;
    border: 2px solid #00ba9d;
}


.login {
    background-color: #00ba9d;
    color:white;
    padding:10px 50px;
    cursor:pointer;
    border-radius:25px;
    border:#00ba9d;
    width:100%;
    /* margin-left:35px */
}
.login:hover {
    background-color:rgba(0, 0, 0, 0.1);
    color:#00ba9d;
    border:2px solid #00ba9d;  
}
.link {
    color:#00ba9d;
}
.link:hover{
    text-decoration:none;
    color:#00ba9d;
}
.form-group {
    margin-bottom: .7rem;
  }
  .description {
    color : white;
  }

  /* Descriptions css */

  .Board {
    margin-top:10%;
    margin-left:28%;
}

#about {
    font-size: 250%;
    line-height: 72px;
    font-weight: 500;
    margin: 32px 0 8px;
    padding: 0;
    color : #00ba9d !important;
}

.Board p {
    color : white;
}

#tag {
    color : white;
    font-size: 1rem;
    margin-bottom : 0rem;
    padding : 1.5vw;
}
.checkmark {
    color: #00ba9d;
    border-radius: 50%;
    font-family: Mateo;
    font-size: 20px;
    /* padding : 1vw; */


}