<div id="menu">
<div class="items">
<a routerLink="/about">About</a> 
</div>
<div class="items">
<a routerLink="/register">Register</a> 
</div>
<div class="items">
<a routerLink="/search">Search</a> 
</div>
<div class="items">
<a routerLink="/users">All Users</a> 
</div>
<div class="items">
<a routerLink="/message"> Send Message</a> 
</div>
</div>

