<div *ngIf = "userData">
    <h1>All Users Data</h1>
    <table >
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Organization</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
        <tr *ngFor = "let user of userData">
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.organization}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td> 
        </tr>
      </table>
  </div>
<app-sorting ></app-sorting>
