<form [formGroup]="registerForm" (ngSubmit)="doRegister()">

  <table>
    <tr>
      <td>First Name</td>
      <td><input formControlName="firstName" type="text" name="firstName" /></td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td><input type="text" formControlName="lastName" name="lastName" /></td>
    </tr>
    <tr>
      <td>User Name</td>
      <td><input type="text" formControlName="username" name="username" /></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" formControlName="password" name="password" /></td>
    </tr>
    <tr>
      <td>Organization</td>
      <td><input type="text" formControlName="organization" name="organization" /></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input type="text" formControlName="email" name="email" /></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><input type="text" formControlName="phone" name="phone" /></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Register" /></td>
    </tr>
  </table>

</form> 
