<div>
  <nav class="navbar navbar-expand" id="headerStyle"> 
      <div class="container-fluid" >
          <div class="navbar-header">
              <a class= "brand" *ngIf="!isLogin" routerLink = '/'>Student Management</a>
              <a class= "brand" *ngIf="isLogin" routerLink = '/user'>Student Management</a>

          </div>
          <ul class="navbar-nav navbar-right"  >
              <li class="nav-item" *ngIf="!isLogin"><a class="nav-link" routerLink="/"> Sign In</a></li>
              <li class="nav-item" *ngIf="!isLogin"><a class="nav-link" routerLink="/register"> Register</a></li>
              <li class="nav-item" *ngIf="isLogin"><a class="nav-link" style = "color : #26a69a" (click) = "signOut()" >Signout </a></li>
          </ul>
      </div>
  </nav>
</div>
