#headerStyle {
    background-color : rgba(0,0,0,0.1);
    position: sticky;
    z-index : 1;
    height: 70px;
    overflow: hidden
}
.brand {
    color : #00ba9d;
    font-size: 130%
}
#logo {
    /* text-decoration:  underline; */
    font-size: 300%;
    color : #00ba9d;
    margin-left: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left:3%;
  
}

.nav-link {
    text-decoration:  none;
    color :#00ba9d;
    display:inline-block;
    padding: 1.4rem 1rem !important ;
}
.nav-link:hover {
    color : white
}

.nav-item:hover {
    background-color: rgba(0,0,0);
    color : white
    
}

#signButton {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}
