<div class="container">
  <br>
  <!-- search bar -->
  <form class="form-inline" style="float:right">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-success" type="submit" id="button">Search</button>
  </form><br><br>
  <!-- row 1 -->
  <div class="row">
    <div class="col-lg-4" *ngFor="let user of users">
      <div class="card profile-card-5">
        <div class="card-body pt-0">
          <br>
          <p><b>Username:&nbsp;</b>{{user.name}}</p>
          <p><b>Email:&nbsp;</b>{{user.email}}</p>
          <p><b>Phone number:&nbsp;</b>{{user.phone}}</p>
          <button class="btn btn-primary" (click)="delete(user.email)"> Delete </button>
        </div>
      </div>
    </div>
  </div>
</div>