<div class="row">
  <div class="col-lg-6">
    <div class="Board">
      <h1 id="about">Student Services</h1>
      <p id="tag">We Provide a Educational services</p>
      <p><span class="checkmark"><i class="far fa-check-circle">&nbsp;</i></span>We are specialised in computarised data
        maintaining</p>
      <p><span class="checkmark"><i class="far fa-check-circle">&nbsp;</i></span>We provide better analytic services</p>
      <p><span class="checkmark"><i class="far fa-check-circle">&nbsp;</i></span>Ask for our services</p>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="col-md-6 offset-md-3" id="forms">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="field">Email:</label>
          <input type="email" formControlName="email" (ngModelChange)="valuechange($event)"
            class="form-control field-id" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            placeholder="email" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">
              <p> Email is required</p>
            </div>
            <div *ngIf="f.email.errors.email">
              <p>please enter a valid email</p>
            </div>
          </div>
          <p> {{email_status}}</p>
        </div>
        <div class="form-group">
          <label class="field">Password</label>
          <input type="password" [(ngModel)]="password" (ngModelChange)="valuechange($event)" formControlName="password"
            class="form-control field-id" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            placeholder="password" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">
              <p>Password is required</p>
            </div>
            <div *ngIf="f.password.errors.minlength">
              <p>Password must be at least 6 characters</p>
            </div>
          </div>
          <p> {{password_status}}</p>

        </div>
        <div class="form-group">
          <button [disabled]="loading" class="login">Sign in </button>
        </div>
      </form>
    </div>
  </div>
</div>